
/* Hide scrollbar but keep scroll functionality */
.hide-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.hide-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    /* Tailwind's gray-700 */
    border-radius: 10px;
    border: 2px solid transparent;
}

/* For Firefox */
.hide-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 transparent;
}

